@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    padding: 0;
    cursor: pointer;
}
:disabled {
    cursor: not-allowed;
}
img {
    vertical-align: bottom;
}
iframe {
    border: none;
}
ul {
    list-style: none;
    padding: 0;
}
label {
    display: inline-block;
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-sp-bt {
    justify-content: space-between;
}
.justify-right {
    justify-content: right;
}
.justify-center {
    justify-content: center;
}
.img-resp {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 15px;
    --ff: "Montserrat", sans-serif;
    --kus: "Kaushan Script", sans-serif;
    --rob: "Roboto", sans-serif;
    --yel: #fce38a;
    --sep: #f38181;
    --blue: #95e1d3;
    --grad: linear-gradient(#f28282e6, #fce38ae6);
}

body {
    font: 16px/1.3 var(--ff);
}

.container {
    max-width: 1230px;
    margin: auto;
    padding: 0 1rem;
    font-family: var(--ff);
}
.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;
}
[class^="col-"] {
    padding: 0 1rem;
    flex: 1 0 auto;
}

.wrap-1 {
    background: url(../img/wrap1.webp) no-repeat center top/cover;
    color: #fff;
    padding-bottom: 20px;
}
h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--ff);
}
h1 a {
    display: inline-block;
    color: inherit;
}

header {
    padding: 20px 0rem;
}

nav li {
    margin: 0 28px;
}
nav a {
    color: inherit;
    font-size: 14px;
    padding: 8px 0;
}
nav a:hover {
    border-bottom: 3px solid;
    border-color: var(--yel);
    color: var(--yel);
}
/* nav a.active{border-bottom: 3px solid; border-color: var(--yel); color:var(--yel);} */
.wrap-1 .icon {
    border: none;
    background: none;
    color: inherit;
}
.wrap-1 .icon {
    margin: 0 0 0 40px;
}

.banner {
    text-align: center;
}
.slider {
    padding: 130px 0 150px 0;
}
.slide {
    display: none;
}
.slide.active {
    display: block;
}
.slide .kus {
    font-size: 72px;
    font-family: var(--kus);
    margin-bottom: 40px;
}
.slide .wel-c {
    font-size: 150px;
    font-weight: 700;
    line-height: 0.9333;
}

.sep {
    width: 60px;
    height: 3px;
    background: var(--sep);
    margin: 40px auto;
}
.slide .sep {
    background: #fff;
    margin-top: 72px 0 50px 0;
}
.slide .link {
    line-height: 36px;
    width: 160px;
    display: inline-block;
    border: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.bar {
    height: 3px;
    background: #fff;
    position: relative;
}
.bar.active::before {
    content: "";
    position: absolute;
    background: #f38181;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    animation: changebar 4s linear 1;
}
@keyframes changebar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.txt {
    text-align: start;
    margin: 25px 0 8px 0;
}
.pager b {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--ff);
}
.pager small {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--ff);
}

.wrap-2 {
    padding: 92px 0 110px 0;
    text-align: center;
}

section .kus {
    font: 400 24px var(--kus);
}
section h2 {
    font: 700 30px var(--ff);
    margin-top: 10px;
}
/* section p{font-size: 15px; font-weight: 400; font-family: var(--rob); line-height: 24px;} */
section .para {
    font: 15px/24px var(--rob);
    color: #999;
}

.about {
    margin-top: 100px;
    position: relative;
    color: #fff;
}
.about .over {
    position: absolute;
    inset: 0;
    background: var(--grad);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.about:hover .over {
    opacity: 1;
    visibility: visible;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--blue);
}
.about P {
    font-size: 18px;
    font-weight: 700;
}
.about img {
    transition: 0.4s;
}
.about:hover img {
    transform: translate(-10px, -10px);
}
.about span {
}
.grid {
    display: grid;
    height: 100%;
    place-items: center;
}

.wrap-3 {
    background: var(--blue);
    padding: 4rem 0 6rem 0;
    color: #fff;
    text-align: center;
}
.wrap-3 b {
    font-size: 72px;
    display: block;
}
.wrap-3 small {
    font-size: 14px;
}

.wrap-4 {
    padding: 92px 0 110px 0;
    text-align: center;
}
.gray-line {
    background: #e5e5e5;
}
.gray-line .col-4 {
    background: #fff;
}
.service {
    text-align: left;
    padding: 50px 0;
}
.service-icon {
    margin: 0 30px;
}
.service h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}
.service p {
    font-size: 15px;
    font-weight: 400;
    font-family: var(--rob);
    color: #999;
}
.gap-y-1 {
    row-gap: 1px;
}

.wrap-5 {
    text-align: center;
    background: url(../img/bg-1.webp) no-repeat center top/cover;
    padding: 112px 0 0 0;
    position: relative;
}
.iphone {
    position: absolute;
    bottom: 0;
    transform: translate(-82px, 52px);
}

.wrap-6 {
    text-align: center;
    padding: 112px 0 120px 0;
}

/* .wrap-6 .para{margin: 26px 0 94px 0;} */
.services {
    margin-top: 86px;
}
.accordian {
    text-align: left;
}
.accordian a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-size: 14px;
}
.accordian img {
    margin-right: 15px;
    vertical-align: middle;
}
.accordian li {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.accordian span {
    float: right;
    color: #ccc;
}
.accordian p {
    font: 300 italic 15px/24px var(--rob);
    padding: 20px;
    display: none;
}
.accordian li.active p {
    display: block;
}
.object {
    height: 100%;
}
.object img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-7 {
    background: #f8f8f8;
    padding: 70px 0;
}
.reviews {
    padding: 0 112px;
    position: relative;
}
.review {
    display: none;
}
.review.active {
    display: block;
}
.jon-pic {
    width: 150px;
    height: 150px;
    border: 2px solid #95e1d3;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-right: 4rem;
}
.wrap-7 blockquote {
    font: 300 italic 24px/36px var(--rob);
    color: #999;
}
.wrap-7 footer {
    font: 400 24px var(--kus);
    color: #333;
    margin-top: 10px;
}

.wrap-7 .sep {
    float: left;
    margin: 20px 10px;
}
.controls {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    color: #ccc;
    font-size: 24px;
    transform: translateY(-50%);
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.wrap-8 {padding: 100px 0 115px 0;
    text-align: center;}
.wrap-8 .team{margin-top: 80px;}
.wrap-8 .team-pic{position: relative; margin-bottom: 25px;}
.wrap-8 .over{ position: absolute;
    inset: 0;
    background: var(--grad);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;}

.team:hover .over {
        opacity: 1;
        visibility: visible;
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px var(--blue);
    }

.team img {transition: 0.4s;}
.team-text small {font-family: var(--rob); font-size: 15px; font-style:italic; font-weight: 300; color: #999;}
.team-text h3 { font-size: 14px; font-weight: 400;}
.team:hover img {transform: translate(-10px, -10px);}

.social {}
.social span{}
.social li:not(:first-child){margin-left: 1px;}
.social a{display:block; width: 56px; line-height: 56px; background: var(--yel); color: #f38181; font-size: 25px;}
.social a:hover{ background:#f38181; color: var(--yel); font-size: 25px;}

.wrap-9{background: #f8f8f8;}
.wrap-10 {padding: 100px 0;
    text-align: center;}

.wrap-11{background: var(--blue);}
.wrap-11 .flex{ flex-flow: row wrap;}

.wrap-11 .col{flex: 1 0 25%; max-width: 25%;} 

.wrap-12{padding: 100px 0 75px;}
.wrap-12 blockquote {
    font: 300 italic 24px/36px var(--rob);
    color: #999;
    background: #fff;
    margin-left: -25px;
}
.wrap-12 .pic {width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-right: 4rem;
}
.wrap-12 footer {font: 400 24px var(--kus); color: #333; margin-top: 10px;}

.wrap-12 .sep {float: left; margin: 20px 10px;}
.controls {position: absolute; top: 50%; border: none; background: none; color: #ccc; font-size:24px; transform: translateY(-50%);}
.prev {left: 0;}
.next{right: 0;}

.wrap-13 {
    text-align: center;
    background: url(../img/bg-2.webp) no-repeat center top/cover;
    padding: 110px 0;
    position: relative;
    }
.people{ flex-shrink: 0;}
.people-bio{margin-top: 60px;}
.wrap-13 h4{font-size: 14px; font-weight: 400; text-align: start;}
/* .wrap-13 .flex{flex-flow: row wrap;} */
.people-dec{text-align: start; margin-left: 30px;}
.wrap-13 .para-1{font-size: 15px; font-weight: 100; font-family: var(--rob); text-align: start; font-style: italic;}
.wrap-13 .para-2{font-size: 15px; font-weight: 400; font-family: var(--rob); color: #999; }
.people-dec .sep{font-size: 14px; font-weight: 400; margin:10px 0;}


.wrap-14 {padding: 100px 0;text-align: center;}
.wrap-14 span {color: #95e1d3; font-size: 12px; font-style: italic; margin-right: 18px; padding-top: 15px;}
.wrap-14 .small  {color: #95e1d3; font-size: 12px; font-style: italic; font-family: var(--rob); font-weight: 400; margin-left: 4px;}
.blog{position: relative;}
.date{background: #95e1d3; display: inline-block; padding: 0px 10px; position: absolute; top: 160px;
    left: -10px;}
.date p{font-size: 30px; color: #fff; font-weight: 700;}
.date small{font-size: 15px; font-family: var(--rob); font-weight: 200; font-style: italic; color: #fff; line-height: 24px;}

.blog-dec{text-align: start;}
.blog-dec .pr-1{font-size: 14px; margin: 14px 0 0 0;}
.blog-dec .pr-2{font-size: 15px; font-family: var(--rob); font-weight: 400; color: #999; line-height: 24px; border-bottom: 1px solid #e5e5e5; padding: 8px 0 18px 0;}

.wrap-16{background: #f8f8f8; padding: 70px 0;}
.wrap-16 b{font-size: 46px; color: #ccc; font-weight: 700;}
.wrap-16 .b1{font-size: 18px; color: #ccc; font-weight: 700; color: #333; margin-right: 3px;}
.wrap-16 .sp{font-size: 14px; font-weight: 400;}
/* .wrap-16 b{font-size: 46px; color: #ccc; font-weight: 700;} */
.wrap-16 p{font-size: 15px; color: #999; font-weight: 400; font-family: var(--rob); line-height: 24px; margin: 35px 0;}
.end-dec{}
.follow{padding: 0 0 14px 0; border-bottom: 1px solid #e5e5e5;}
.follow-p{font-size: 15px; font-weight: 100; font-style: italic; font-family: var(--rob); margin-right: 10px; color: #999;}
.follow-us span{margin-left: 10px; font-size: 16px; color: #95e1d3;}
.follow-us {margin: -18px 0 0 0;}

input{height: 38px; font-family: var(--rob); font-size: 15px; font-style: italic; font-weight: 100; background: none;  border: 1px solid #e7e7e7;}
.subs{line-height: 38px;border: none; background: #95e1d3; color: #fff; font-size: 14px; font-weight: 700; padding: 0 15px;
}
.blogs p{font-size: 14px; font-weight: 400; color: #333;}
.blogs-1{margin-bottom: 30px;}
.blog-pic{margin-right: 10px;}
.blogs-1 small{font-size: 13px; font-family: var(--rob); font-weight: 100; font-style: italic; color: #999;}
.blogs-1 .b-para{margin:0; font-size: 12px; font-weight: 400; color: #333;}
.blogs-1 .blog-bio{align-items: center;}
.wrap-16 .view{font-family: var(--rob); font-weight: 100; font-style: italic; color: #333; font-size: 13px; margin-top: 10px;}
.colage-pic {
    margin-bottom: 10px;
  }

.wrap-17{background: #f8f8f8;}
.wrap-17 footer{font-size: 14px; font-weight: 400; text-align: center; border-top: 1px solid #e5e5e5; padding: 22px 0;}
.wrap-17 footer span{color: #f38181;}

/* .wrap-11 .img {
    position: absolute;
    inset: 0;
    background: var(--grad);
     opacity: 0;
     visibility: hidden;
    transition: 0.4s; 
} 
.wrap-11 .box:hover img {
    opacity: 1;
    visibility: visible; 
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--blue);  
}*/

/* section .kus {
    font: 400 24px var(--kus);
}
section h2 {
    font: 700 30px var(--ff);
    margin-top: 10px;
} */

.col-1{flex-basis: 8.33%; max-width: 8.33%;}
.col-2{flex-basis: 16.66%; max-width: 16.66%;}
.col-3{flex-basis: 25%; max-width: 25%;}
.col-4{flex-basis: 33.33%; max-width: 33.33%;}
.col-5{flex-basis: 41.66%; max-width: 41.66%;}
.col-6{flex-basis: 50%; max-width: 50%;}
.col-7{flex-basis: 58.33%; max-width: 58.33%;}
.col-8{flex-basis: 66.66%; max-width: 66.66%;}
.col-9{flex-basis: 75%; max-width: 75%;}
.col-10{flex-basis: 83.33%; max-width: 83.33%;}
.col-11{flex-basis: 91.66%; max-width: 91.66%;}
.col-12{flex-basis: 100%; max-width: 100%;}

.col-auto{flex-basis: 20%; max-width: 20%;}

/* responsive */

@media screen and (max-width: 1250px) {
    .col--tl-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col--tl-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col--tl-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col--tl-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .col--tl-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .col--tl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col--tl-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .col--tl-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .col--tl-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col--tl-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }
    .col--tl-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }
    .col--tl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .pic {
        margin-top: 10px;
    }
    .date{top: 125px;}
}

@media screen and (max-width: 980px) {
    ml- .col-tp-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-tp-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-tp-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-tp-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .col-tp-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .col-tp-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-tp-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .col-tp-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .col-tp-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-tp-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }
    .col-tp-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }
    .col-tp-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .slide .wel-c {
        font-size: 125px;
    }
    .iphone {
        transform: translate(-120px, 52px);
    }
    .date{top: 74px;}

}

@media screen and (max-width: 767px) {
    .col-ml-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-ml-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-ml-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-ml-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .col-ml-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .col-ml-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-ml-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .col-ml-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .col-ml-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-ml-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }
    .col-ml-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }
    .col-ml-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .wrap-1 nav {
        display: none;
    }
    .wrap-1 .icon {
        margin: 0 0 0 22px;
    }

    .slide .kus {
        font-size: 65px;
    }
    .slide .wel-c {
        font-size: 100px;
    }
    .wrap-3 b {
        font-size: 40px;
    }
    .iphone {
        transform: translate(-135px, 52px);
    }
    .wrap-7 .reviews {
        padding: 0 40px;
    }
    .jon-pic {
        margin-right: 2rem;
    }
   .social a{ width: 35px; line-height: 35px; font-size: 15px;}
   .wrap-11 .col{flex: 1 0 50%; max-width: 50%;} 

   .wrap-12 .reviews {
    padding: 0 40px;
   }
   .pic {
    margin-right: 2rem;
    }
    .date p {font-size: 20px;}
    .date small {line-height: 0;}
    .date {top: 60px;}
    .blog-dec .pr-1 { font-size: 12px;}
    .blog-dec .pr-2 {font-size: 12px;line-height: 20px;}
    .wrap-14 { padding: 50px 0;}


}

@media screen and (max-width: 460px) {
    .col-mp-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-mp-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-mp-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-mp-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .col-mp-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .col-mp-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-mp-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .col-mp-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .col-mp-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-mp-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }
    .col-mp-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }
    .col-mp-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .slide .kus {
        font-size: 35px;
    }
    .slide .wel-c {
        font-size: 55px;
    }
    .slider {
        padding: 65px 0 100px 0;
    }

    .txt b {
        font-size: 15px;
    }
    .txt small {
        font-size: 12px;
    }

    .col-auto {
        flex-basis: 33.3%;
        max-width: 50%;
        margin: auto;
        margin-top: 2rem;
    }
    .wrap-3 {
        padding: 2rem 0 4rem 0;
    }

    .iphone {
        width: 38%;
    }
    .wrap-7 .flex {
        flex-flow: column wrap;
    }
    .pic {
        margin: auto;
    }
    .wrap-8 .team{margin-top: 40px;}
   .wrap-11 .col{flex: 1 0 100%; max-width: 100%;} 
   .wrap-12 .flex{flex-flow: row wrap;}
   .wrap-12 {padding: 50px 0;}
   .wrap-12 blockquote{margin: auto;}
   .wrap-12 .pic{margin: auto; margin-bottom: 10px;}
   .people-dec{margin: -6px 18px;}
   .date {top: 150px;}
   .blog-dec .pr-2 {line-height: 15px; margin-bottom: -8px;;}
   .blog-dec .pr-1 {font-size: 14px; margin: 8px 0 6px 0;}
   .blog-dec { margin-bottom: 24px;}

}
